/* You can add global styles to this file, and also import other style files */
html,body{
    margin:0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Calibri';
    background:linear-gradient(#eef5db,#eef5dc);
    color: #28272a;
}
*:focus{
    outline: none;
}
button{
    cursor: pointer;
    &:disabled{
        cursor: auto;
        color:#406f42 !important;
    }
}

input{
    width: 100%;
    background: transparent;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
}
